@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  color: #333;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "raleway", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.2;
}

img {
  display: block;
  width: 100%;
}

audio {
  display: block;
  width: 100%;
}

#site-header {
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  position: fixed;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.95);
  box-sizing: border-box;
}

#logo-image {
  height: 2em;
  width: 2em;
  display: none;
  position: absolute;
}

#site-header a {
  text-decoration: none;
  color: #333;
}

#site-header h1 {
  top: 0;
  margin: 0;
  padding: 0.25rem;
  text-align: center;
  width: 140px;
  line-height: 0;
}

#wordmark-image {
  width: 140px;
}

#site-header small {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.with-fixed-header {
  padding-top: 44px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
  flex: 1;
}

#title-header {
  margin-top: 50px;
  text-align: center;
  font-size: 1.5em;
}

#title-header h1 {
  font-weight: 300;
  margin: 0 0 0.25em 0;
}

#title-header::after {
  content: "";
  border-bottom: 3px solid #E0E0E0;
  width: 10%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#content {
  padding: 20px;
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#content img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  height: 500px;
  margin: 5px;
}

.image-block {
  max-width: 800px;
  margin: auto;
}

.image-block img {
  width: 100%;
  margin: 0;
}

.image-block img:hover {
  cursor: pointer;
}

footer {
  background-color: #fafafa;
  text-align: center;
  padding: 1rem;
}

footer h6 {
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.15em;
  margin: 0 0 0.25em;
  color: #666;
}

footer ul {
  list-style-type: none;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

footer li {
  display: inline-block;
  margin: 0 0.5rem;
}

footer a {
  color: #1EC7A2;
  text-decoration: none;
}

footer a:hover {
  color: mix(black, #1EC7A2, 20%);
}

@media (max-width: 860px) {
  #site-header {
    padding: 0.5rem;
  }

  #site-header h1 {
    width: 100%;
    left: 0;
    position: absolute;
  }

  #wordmark-image {
    margin: 0 auto;
  }

  #logo-image {
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }

  #content img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
  }

  main header {
    font-size: 1em;
  }
}

@media (max-width: 300px) {
  #logo-image {
    display: none;
  }
}
